.red-border-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 380px;
    height: 145px;
    border: 5px solid #000000;
}
.red-border-block__text {
    font-size: 24px;
}
.two-star-block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 380px;
    height: 145px;
    border: 1px solid;
}
.two-star-block__text {
    font-size: 24px;
}
.two-star-block__icon-wrapper {
    position: absolute;
    top: 12px;
    right: 15px;
}
.two-star-block__icon {
    margin-left: 6px;
}